@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:wght@700&display=swap');

/* Imported fonts used include the following: Lato/Montserrat/Zen Loop/Andika New Basic*/
* {
    color: #000;
    font-family: helvetica;
    box-sizing: border-box;
}

body {
    background: #814912;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    text-decoration: none;
}

a {
    color: #333;
}

p {
    font-family: helvetica;
    font-size: medium;
}

h1 {
    color: #D1B30A;
    display: inline;
}

h2 {
    color: #8a0f2e;
    text-decoration: none;
}

h3 {
    color: #8a0f2e;
    text-decoration: none;
}

h4 {
    font-size: medium;
    text-align: center;
}

h5 {
    margin: -20px 0px 20px 0px;
}

.blockqouteStyle {
    font-size: large;
    padding: 50px;
    font-family: Hahmlet;
}

ul {
    font-family: helvetica;
}

li {
    font-size: small;
    font-family: 'Montserrat', sans-serif !important;
}

.square img {
    float: left;
    padding: 0px 20px 20px 0px;
    width: 50%;
}

.box {
    font-size: x-small;
    width: 100%;
}

.caption {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    width: 50%;
}

/* newsletter Form */
form {
    border: 4px solid #f1f1f1;
    padding: 5px;
    border-radius: 15px;
}

.formText {
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    text-align: left !important;
}

input[type=text],
input[type=submit] {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 7px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid rgb(110, 108, 108);
    box-sizing: border-box;
    border-radius: 5px;
}

input[type=submit] {
    background-color: #D1B30A;
    color: black;
    width: 50%;
    box-shadow: 1px 3px rgb(107, 105, 105);
}

input[type=submit]:hover {
    opacity: 0.8;
}

a:link {
    text-decoration: none;
}

.ulLink {
    text-decoration: underline !important;
}

.continueRead {
    font-size: small;
    font-family: helvetica;
    color: #333;
    text-decoration: underline;
}

.blogPosts {
    text-align: center;
    font-size: small;
    font-family: 'Andika New Basic', sans-serif;
    border-color: rgba(51, 51, 51, 0.432);
}

.borderedDiv {
    border-width: thick;
}

.h2Subtext {
    color: #000;
}

.h2Title {
    color: #8a0f2e !important;
    font-family: 'Montserrat', sans-serif;
}

.list {
    list-style: square;
}

.a:hover {
    color: #000;
}

.header {
    padding: 30px;
    margin: 30px;
    text-align: center;
    border-radius: 5px;
}

.header img {
    float: right;
    margin: 0px 0px 0px 400px;
    position: absolute;
    max-width: 10%;
    display: inline;
}

.header h1 {
    display: inline;
    position: relative;
    top: 18px;
    left: 10px;
    font-size: 100px;
    font-family: 'Zen Loop', cursive !important;
    text-transform: uppercase;
}

.header a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

.header h2 {
    font-size: small;
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: #000;
}

.topnav {
    overflow: hidden;
    border-radius: 5px;
    text-align: center;
}

.topnav a {
    font-family: 'Andika New Basic', sans-serif;
    color: #D1B30A;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    color: #FFF;
}

.leftcolumn {
    float: left;
    width: 73%;
    padding: 20px;
    margin: 20px 0px 0px 0px;
    border-radius: 5px;
    background: #FFF;
    border: 1px solid #FFF;
}

.rightcolumn {
    float: right;
    width: 23%;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin: 20px 0px 0px 20px;
    border: 1px solid #FAF4EF;
    text-align: center;
}

.rightcolumnarrows {
    float: right;
    width: 23%;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin: 20px 0px 0px 20px;
    border: 1px solid #FAF4EF;
}

.fakeimg {
    padding: 20px;
    border-radius: 5px;
    height: 200px;
}

.image img {
    width: 55%;
    border-radius: 5px;
}

.card {
    background-color: #FFF;
    padding: 0px 20px 0px 20px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #FFF;
}

.cardLast {
    background-color: #FFF;
    padding: 20px 20px 100px 20px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #FFF;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

/* Popular post slideshow */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    text-align: left;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgba(255, 255, 255, 0.548);
    background-color: rgba(0, 0, 0, 0.384);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #000;
    background-color: rgba(255, 255, 255, 0.788);
    font-size: 11px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: .3s;
    animation-name: fade;
    animation-duration: .3s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.discreetText {
    color: rgb(88, 88, 88);
    font-size: x-small;
}

.endDots {
    text-align: center !important;
    font-size: xx-large;
    font-family: Andika New Basic;
}

.blogLinks {
    text-decoration: underline;
    font-size: small;
    text-align: left;
    font-family: Lato;
}

.capLetter {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 75px;
    line-height: 60px;
    float: left;
    padding-top: 3px;
    padding-right: 8px;
    padding-left: 3px;
    color: #333;
}

hr.solid {
    border-top: 3px solid #bbb;
    margin: 150px;
}

@media screen and (max-width: 800px) {

    body {
        text-align: center;
    }

    body img {
        text-align: center;
    }
    
    .header h1 {
        display:inline-block;
        vertical-align: middle;        
        font-size: xxx-large;
        font-family: 'Zen Loop', cursive;
        text-transform: uppercase;
        position: sticky;
            }
    h2 {
        font-size: large;
        text-align: center;
        }

    h5 {
        margin: 10px 0px 20px 0px;
        text-align: center;
        font-size: small;

    }

    .header img {
        display: none;
        position: relative;
    }

    .square img {
        width: 100%;
    }
    
    .topnav {
    overflow: hidden;
    border-radius: 5px;
    text-align: center;
    font-size: small;
}
    .h2Subtext {
        font-size: x-small;
        display: inline-block;
        line-height: 50px;
    }

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    .h1 {font-size: medium;}
    .topnav a {
        float: none;
        width: 100%;
    }
}